bin/
target/
*.bak
bin/logs
bookshare-search/solr
*.checkstyle
*.class
*.classpath
*.DS_Store
.externalToolBuilders/
.idea/
.factorypath
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
**/*.iml
**/*.ipr
**/*.iws
*.launch
.loadpath
local.properties
*.log
logs
*.manager
.metadata
*~.nib
*.project
.recommenders
.recommenders/
.settings/
*.settings
*.swp
/target/
.target
**/target
*.tmp
tmp/
todo-lines.properties
